# Default values for version-demo.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

image:
  repository: docker.io/devlopesbernardo/version-demo
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: "v1.6.1"
nameOverride: ""
fullnameOverride: ""
service:
  type: ClusterIP
  port: 80
resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 10m
    memory: 32Mi
nodeSelector: {}
tolerations: []
affinity: {}
